@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

body {
  margin: 0;
  font-family: "Pretendard", sans-serif;
  background-color: white;
  color: #222;
}

.about-container {
  width: 100%;
  box-sizing: border-box;
  padding: 200px 100px;
}

.hello{
  font-size: 22px;
  padding: 18px 36px;
  margin-left: 50px;
  color:#3a3a3a;
}

.quote-box {
  background-color: #fffbe8;
  border-radius: 25px;
  padding: 18px 36px;
  display: inline-block;
  margin-left: 80px;
  box-shadow: 0 0 0 1px #fff2c4;
}

.quote-text {
  font-size: 17px;
  font-weight: 600;
  color: #444;
  margin: 0;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 60px;
  padding: 0 100px;
  gap: 150px;
}

.section-title {
  font-size: 24px;
  font-weight: 700;
  color: #999;
  margin-bottom: 15px;
}

.info-section {
  flex: 1;
}

.info-item {
  display: flex;
  align-items: flex-start;
  font-size: 20px;
  font-weight: 600;
  gap: 20px;
  margin-bottom: 10px;
}

.label {
  width: 80px;
  color: #777;
  margin-top: 4px;
}

.value {
  color: #222;
  width: 540px;
}

.value.name {
  width: 200px;
}

.career-section {
  flex: 1;
  border-left: 1px solid #eee;
  padding-left: 100px;
}

.career-item {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  margin-bottom: 18px;
}

.year {
  font-weight: 700;
  color: #999;
  width: 60px;
}

.desc {
  font-size: 20px;
  font-weight: 600;
}

.highlight {
  font-weight: 800;
}

@media (max-width: 1000px) {
  .about-content {
    flex-direction: column;
    gap: 60px;
    padding: 0 40px;
  }

  .career-section {
    border-left: none;
    padding-left: 0;
  }

  .quote-box {
    margin-left: 40px;
  }
}
