body {
    margin: 0;
    font-family: "Pretendard", sans-serif;
    background-color: white;
    color: #222;
  }

.account-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    height: 100vh;
    background-color: #fff;
  }

  .portfolio-title {
    font-size: 24px;
    color: #999;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
  }
  
  .image-section img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #ddd;
  }
  
  .account-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .account-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 14px;
  }
  
  .icon {
    width: 22px;
    height: 22px;
  }
  
  .social {
    font-size: 17px;
    color: #818181;
    font-weight: 600;
    width: 100px;
  }
  
  .link {
    font-size: 20px;
    color: #000;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
    font-weight: 600;
  }
  