@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

body {
  margin: 0;
  font-family: "Pretendard", sans-serif;
  background-color: white;
  color: #222;
}

.project-container {
  width: 100%;
  height: 90vh;
  box-sizing: border-box;
  background-color: #fff;
  color: #222;
  padding: 200px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-title {
  font-size: 24px;
  font-weight: 700;
  color: #999;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.project-scroll {
  display: flex;
  gap: 40px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.project-scroll::-webkit-scrollbar {
  display: none;
}

.project-card {
  min-width: 440px;
  max-width: 440px;
  height: 330px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  flex-shrink: 0;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  cursor: grab;
  transition: transform 0.2s ease;
  padding: 20px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}

.project-card:active {
  cursor: grabbing;
  transform: scale(0.98);
}

.project-image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 20px;
}

.project-content {
  padding: 20px;
  padding-bottom: 50px;
}

.info {
  color: #aaa;
  padding-top: 4px;
  padding-bottom: 6px;
}

.tag {
  display: inline-block;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  margin-right: 8px;
  margin-top: 10px;
  color: white;
}

.project-1 {
  background-color: #FFE5E3;
  color: #444;
}

.project-2 {
  background-color: #D6E0C1;
  color: #444;
}

.project-3 {
  background-color: #C0E7FF;
  color: #444;
}

.project-4 {
  background-color: #DBF0E3;
  color: #444;
}

.project-desc {
  font-size: 14px;
  color: #777;
  margin-top: 8px;
}

.scroll-hint {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  margin-top: 30px;
  font-size: 13px;
}

